# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.app

#Database
*.db

# Go workspace
go.work
go.work.sum

# Dependency directories
vendor/

# Build output
/build/
/bin/
/dist/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Temp / cache files
/tmp/
*.log
